@use '../../base';

span {
  padding: 1rem;
  font-weight: bold;
}

.h1 {
  font-size: 2.125rem;
}

.h2 {
  font-size: 1.875rem;
}

.h3 {
  font-size: 1.5rem;
}

.h4 {
  font-size: 1.25rem;
}

.h5 {
  font-size: 1.125rem;
}

.h6 {
  font-size: 1rem;
}

.giant {
  font-size: 3.75rem;
}

.large {
  font-size: 3.125rem;
}

.medium {
  font-size: 2.5rem;
}


.scalelarge {
  font-size: 8vw;
}
.scalemedium {
  font-size: 4vw;
}
.scalesmall {
  font-size:2vw;
}

.bold {
  font-weight: bold;
}
.normal {
  font-weight: normal;
}

@media only screen and (max-width: 800px) {


  .h1 {
    font-size: 1.06rem;
  }

  .h2 {
    font-size: .9rem;
  }

  .h3 {
    font-size: .75rem;
  }

  .h4 {
    font-size: .63rem;
  }

  .h5 {
    font-size: .55rem;
  }

  .h6 {
    font-size: .5rem;
  }

  .giant {
    font-size: 1.88rem;
  }

  .large {
    font-size: 1.56rem;
  }

  .medium {
    font-size: 1.7rem;
  }
}
