$black: #1E1E1E;
$grey: rgba(204, 204, 204, 0.12);
$white: #ffc306;


span.switch {
  position: relative;
  flex-direction: row;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  margin: 20px 0;

  input {
    appearance: none;

    position: relative;

    width: 200px;
    height: 50px;
    border-radius: 25px;

    background-color: $black;
    outline: none;

    font-family: 'Oswald', sans-serif;

    &:before, &:after {
      z-index: 2;

      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      color: $white;
    }

    &:before {
      content: 'FROM';
      left: 20px;
    }

    &:after {
      content: 'TO';
      right: 20px;
    }
  }

  label {
    z-index: 1;
    bottom: 17px;
    position: absolute;
    border-radius: 20px;
    padding: 30px 0 30px 0;
    width: 100px;
  }

  &.basic-switch {
    input {
      transition: .25s -.1s;

      &:checked {
        background-color: $black;

        &:before {
          color: black;
          transition: color .5s .2s;
        }

        &:after {
          color: $grey;
          transition: color .5s;
        }

        & + label {
          left: 36px;
          right: 50px;

          background: $white;

          transition: left .5s, right .4s .2s;
        }
      }

      &:not(:checked) {
        background: $black;
        transition: background .5s -.1s;

        &:before {
          color: $grey;
          transition: color .5s;
        }

        &:after {
          color: $black;
          transition: color .5s .2s;
        }

        & + label {
          left: 140px;
          right: 10px;

          background: $white;

          transition: left .4s .2s, right .5s, background .35s -.1s;
        }
      }
    }
  }

  &.switcher-2 {
    overflow: hidden;

    input {

      transition: background-color 0s .5s;

      &:before {
        color: $black;
      }

      &:after {
        color: $white;
      }

      &:checked {
        background-color: $white;

        & + label {
          background: $white;

          animation: turn-on .5s ease-out;

          @keyframes turn-on {
            0% {
              left: 100%;
            }
            100% {
              left: 0%;
            }
          }
        }
      }

      &:not(:checked) {
        background: $black;

        & + label {
          background: $black;

          animation: turn-off .5s ease-out;

          @keyframes turn-off {
            0% {
              right: 100%;
            }
            100% {
              right: 0%;
            }
          }
        }
      }
    }

    label {
      top: 0px;

      width: 200px;
      height: 50px;
      border-radius: 25px;
    }
  }
}

