$primary-color: #ffaf1b;

.basic-text-field {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: rgba(128, 128, 128, 0.25);
  border:2px solid $primary-color;
  clip-path: polygon(
  calc(0% + 3px) calc(0% + 3px),
  calc(100% - 3px) calc(0% + 3px),
  calc(100% - 3px) calc(100% - 3px),
  calc(0% + 3px) calc(100% - 3px),
  );
  transition: clip-path .5s ease;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;

  &:focus {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}